html, body{
  scroll-behavior:smooth;
}

.sidebar-menu{
  width: 300px;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  background-color:#22312E;
  overflow:scroll;
  color:white;
}
.text-center{
  text-align:center;
}
.bg-color, .h-color, .t-color{
  display:flex;
  flex-direction:row;
  flex-shrink:1;
}
input{
  padding:5px;
  height:20px;
  width:50%;
  border:1px solid red;
}
.body-content{
  margin-left:300px;
}

@media screen and (max-width:600px){
  .sidebar-menu{
    position:relative;
    height:auto;
  }
}
@media screen and (max-width:600px){
  .body-content{
    margin-left:10px;
  }
}
footer, h3{
  padding:10px;
}